<main class="contenedor contenedor-formularios">
    <h1><%= nombrePagina %></h1>
    <form action="/crear-cuenta" method="post" class="default-form">
        <div class="campo">
            <label for="">E-mail</label>
            <input type="email" name="email" placeholder="Tu email">
        </div>
        <div class="campo">
            <label for="">Nombre</label>
            <input type="text" name="nombre" placeholder="Tu nombre">
        </div>
        <div class="campo">
            <label for="">Password</label>
            <input type="password" name="password" placeholder="Tu password">
        </div>
        <div class="campo">
            <label for="">Repetir Password</label>
            <input type="password" name="confirmar" placeholder="Repite tu password">
        </div>
        <div class="campo enviar">
            <input type="submit" class="btn btn-rosa" value="Crear Cuenta">
        </div>
    </form>
</main>

